.title{
  font-weight: bold;
  text-align: center;
  margin-bottom: 45px;
}

.subtitle {
  text-align: center;
  margin-bottom: 35px;
}

.description, .advantagesList {
  color: #666;
  font-size: 15px;
  line-height: 23px;
  margin-bottom: 30px;
}

.advantagesList {
  list-style-type: disc;
}
