.item {
  margin: 1rem 0;
  background-color: #fff;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 4px 0 3px rgba(0, 0, 0, 0.5);
  padding: 1rem;
}

.itemTitle {
  max-width: 450px;
  font-size: 1.55rem;
  margin: 0 0 0.5rem 0;
}

.item header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantity span {
  font-size: 1.5rem;
  font-weight: bold;
}

.price {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  font-weight: bold;
}

.itemprice {
  font-weight: normal;
  font-size: 1rem;
  font-style: italic;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin: 0.5rem 0;
}

.actions button {
  background-color: transparent;
  border: 0.5px solid #000000;
  margin-left: 0.5rem;
  padding: 0.15rem 1rem;
  transition: all 0.2s ease-in-out;
  color: #000000;
}

.actions button:hover,
.actions button:active {
  background-color: #4b4b4b;
  color: #fff;
}
